extends ../layout

block content
  h1= team.teamName
  h2= team.teamRegion
  p= team.teamCaptain
  p= team.memberTwo
  p= team.memberThree
  p= team.memberFour
  p= team.memberFive
  a(href='/team/' + team.id + '/edit') Edit Team
  a(href='/team/' + team.id + '/invite') Add Members
